.husky
.vscode
.yarn
!.yarn/plugins
!.yarn/releases
coverage
data
node_modules
src
tests

./**/*.yaml
.dockerignore
.editorconfig
.env*
.eslintrc.js
.git*
.lintstagedrc.js
.prettier*
build.sh
*.log
deployment.yaml
Dockerfile
jest.config.ts
*.key*
README.md
tsconfig*.json
