.github/
.husky/
.vscode/
coverage/
data/
deploy/
node_modules/
tests/

./**/*.yaml
.editorconfig
*.env*
.eslintrc.cjs
.git*
.lintstagedrc.mjs
.npmignore
.prettier*
*.log
jest*
*.key*
README.md
tsconfig.json
